<div class="container">
  <div class="row mt-4" style="text-align: center">
    <div class="col-1 mt-3" style="display: inline-block">
      <a
        style="cursor: pointer; color: #0d6efd; text-decoration: underline"
        (click)="logout()"
        >Logout</a
      >
    </div>
    <div class="col-10" style="display: inline-block">
      <h1>Healthy Recipes Finder</h1>
    </div>
  </div>
  <div class="card mt-4 border-0">
    <div class="card-body">
      <div *ngIf="form" class="container mb-4">
        <form [formGroup]="form" (keyup.enter)="searchRecipes(0)">
          <div class="row mt-5 justify-content-center">
            <div class="col-md-auto">
              <label class="col-form-label col-form-label-sm"
                ><b>Ingredients:</b>
              </label>
            </div>
            <div class="col-md-4">
              <input
                type="'text"
                class="form-control form-control-sm"
                [ngClass]="
                  searchTextCtrl?.hasError('pattern') ? 'is-invalid' : ''
                "
                formControlName="searchText"
                testId="search-text-input"
              />
              <div class="invalid-feedback">
                Search can only contain letters
              </div>
            </div>
            <div class="col-md-auto">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="searchRecipes(0)"
                [disabled]="!form.valid"
                testId="search-button"
              >
                Search
              </button>
            </div>
            <div class="col-md-auto ms-4">
              <label class="col-form-label col-form-label-sm"
                ><b>Diet:</b>
              </label>
            </div>
            <div class="col-md-2">
              <select
                class="form-select form-select-sm"
                formControlName="dietType"
                aria-label="Select diet type"
                testId="diet-type-select"
              >
                <option value="null">Any</option>
                <option *ngFor="let type of recipeSvc.dietTypes" [value]="type">
                  {{ type | titlecase }}
                </option>
              </select>
            </div>
            <div class="col-md-auto ms-4">
              <label class="col-form-label col-form-label-sm"
                ><b>Meal:</b>
              </label>
            </div>
            <div class="col-md-2">
              <select
                class="form-select form-select-sm"
                formControlName="mealType"
                aria-label="Select meal type"
                testId="meal-type-select"
              >
                <option value="null">Any</option>
                <option *ngFor="let type of recipeSvc.mealTypes" [value]="type">
                  {{ type | titlecase }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="loading" class="d-flex justify-content-center">
        <div
          class="spinner-border float"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <ng-container *ngIf="!loading">
        <div class="container">
          <div class="row mt-5">
            <app-paging
              (parentSearch)="searchRecipes($event)"
              [pageInfo]="recipeSvc.pageInfo"
            ></app-paging>
          </div>
        </div>

        <table class="table table-light table-striped table-sm">
          <thead>
            <tr style="font-size: 15px">
              <th scope="col">#</th>
              <th scope="col" style="width: 45%">Title</th>
              <th scope="col" class="text-center">
                <a
                  style="cursor: pointer; text-decoration: underline"
                  (click)="sortOn(sortType.HEALTH_SCORE)"
                  >Health Score (%)</a
                >
              </th>
              <th scope="col" class="text-center">Ready In Minutes</th>
              <th scope="col" class="text-center">Servings</th>
              <th scope="col" class="text-center">Low FODMAP</th>
              <th scope="col" class="text-right">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipeSvc.recipeList; let i = index">
              <th scope="row">{{ i + 1 + recipeSvc.pageInfo.offset }}</th>
              <td>{{ recipe.title }}</td>
              <td class="text-center">{{ recipe.healthScore }}</td>
              <td class="text-center">{{ recipe.readyInMinutes }}</td>
              <td class="text-center">{{ recipe.servings }}</td>
              <td class="text-center">{{ recipe.lowFodmap ? "Yes" : "No" }}</td>
              <td class="text-right">
                <a
                  style="
                    cursor: pointer;
                    color: #0d6efd;
                    text-decoration: underline;
                  "
                  (click)="viewRecipe(recipe.id)"
                  >View</a
                >
              </td>
            </tr>
            <tr *ngIf="recipeSvc?.pageInfo?.totalResults == 0">
              <td class="text-center" colspan="7">No results to display</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
