<div *ngIf="recipeSvc.totalPages > 0" class="container">
  <div class="fw-light col-md-9" style="display: inline-block">
    Displaying page {{ recipeSvc.pageNumber + 1 }} of
    {{ recipeSvc.totalPages }}
  </div>
  <div class="col" style="display: inline-block">
    <nav aria-label="Recipe search page navigation">
      <ul class="pagination justify-content-end">
        <li
          class="page-item"
          [ngClass]="recipeSvc.pageNumber === 0 ? 'disabled' : ''"
        >
          <a class="page-link" style="cursor: pointer" (click)="search(0)"
            >First</a
          >
        </li>
        <li
          class="page-item"
          [ngClass]="recipeSvc.pageNumber === 0 ? 'disabled' : ''"
        >
          <a
            class="page-link"
            style="cursor: pointer"
            (click)="search(recipeSvc.pageNumber - 1)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          [ngClass]="
            recipeSvc.pageNumber + 1 === recipeSvc.totalPages ? 'disabled' : ''
          "
        >
          <a
            class="page-link"
            style="cursor: pointer"
            (click)="search(recipeSvc.pageNumber + 1)"
            >Next</a
          >
        </li>
        <li
          class="page-item"
          [ngClass]="
            recipeSvc.pageNumber + 1 === recipeSvc.totalPages ? 'disabled' : ''
          "
        >
          <a
            class="page-link"
            style="cursor: pointer"
            (click)="search(recipeSvc.totalPages - 1)"
            >Last</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
